#page2 {
  background: #3f3f4c;
  padding-top: 14px;
  .comm {
    margin-top: 25px;
    margin-bottom: 25px;
    background: #005f19;
    padding: 20px 15px 15px;
    color: #fff;
    line-height: 35px;
  }
  .infoLeft {
    padding: 30px 50px;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.43);
    box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.43);
  }
  .infoRight {
    padding: 50px;
    -webkit-box-shadow: -6px 6px 5px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: -6px 6px 5px 0px rgba(0, 0, 0, 0.43);
    box-shadow: -6px 6px 5px 0px rgba(0, 0, 0, 0.43);
  }
  .title {
    padding-top: 28px;
  }
  hr {
    margin-top: 20px;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 36px;
  }
  h3 {
    padding-bottom: 12px;
  }

  .carousel-inner > .item {
      padding-top: 14px;
    .comm{
        margin-top: 25px;
        margin-bottom: 25px;
        background: #005f19;
        padding: 20px 15px 15px;
        color: #fff;
        line-height: 30px;
        box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.43);
    }
    
    .infoLeft {
        padding-left: 50px;
        -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.43);
        -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.43);
        box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.43);
    }
    .infoRight{
        padding: 30px 65px;
        text-align: justify;
        padding: 50px;
        -webkit-box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.43);
        -moz-box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.43);
        box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.43);
    }
    h2 {
    text-align: center;
    }

    p {
      font-family: Cambria, Georgia, "Times New Roman", Times, serif;
      font-size: 18px;
      margin-right: 15px;
      text-align: justify;
      margin-right: 60px;
      margin-left: 60px;
    }

    .carousel-inner > .item {
    -webkit-transition: 15s ease-in-out left;
    -moz-transition: 15s ease-in-out left;
    -o-transition: 15s ease-in-out left;
    transition: 15s ease-in-out left;
  }
  #caption {
    text-align: center;
    font-size: 14px;
    height: 120px;
    padding: 0 10px;
    color: white;
  }
  ul {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: left;
  }

  .row {
    padding-bottom: 30px;
  }
  .rightHis {
    padding-right: 70px;
    text-align: justify;
  }
  .leftHis {
    padding-left: 70px;
    text-align: justify;
  }
  .dot {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .year {
    padding-top: 50px;
  }
  @media screen and (max-width: $small) {
    .rightHis {
      padding-right: 0;
      padding-left: 10px;
    }
  }
  .leftHis {
    padding-left: 10px;
  }
  .year {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 40px;
  }
}
  #history {
    color: #fff;
      p {
    text-align: justify;
    font-size: 20px;
  }
  }
#presidents {
  background: #454654;
  color: white;
  .img {
    margin-bottom: 20px;
  }
}

.president {
  margin-bottom: 60px;
}

#carouselspace {
  padding-bottom: 80px;
}

.historicalphoto {
  width: 100%;
  max-height: 400px;
}

    }
    #caption {
        text-align: center;
        font-size: 14px;
        height: 120px;
        padding: 0 10px;
        color: white;
    }
    .title {
        font-family: helvetica;
        margin-top: 35px;
        margin-bottom: 20px;
        color: #fff;
    }
    ul {
      margin-left: 88px;
      margin-bottom: 20px;
      font-size: 18px;
      text-align: left;
    }

    #history {
        color: #fff;
    }
      
    .row {
      padding-bottom: 30px;
    }   
    .rightHis {
      padding-right: 70px;
      text-align: justify;
    }

    .leftHis {
      padding-left: 70px;
      text-align: justify;
    }

    .dot {
      margin-top:50px;
      margin-bottom:50px;
    }

    .year{
      padding-top: 50px;
    }
      
    @media screen and (max-width: $small){
      .rightHis{
      padding-right: 0;
      padding-left: 10px;
      }
    }

      .leftHis{
        padding-left: 10px;
      }

      .year{
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 40px;
      } 
}



/////////////////////////////////////////
    #presidents {
        background: #454654;
        color: white;
        .img {
            margin-bottom: 20px;
        }
    }
    
    .president {
      margin-bottom: 60px;
    }
    
    #carouselspace {
      padding-bottom: 80px;
    }
        
    .historicalphoto{
      width: 100%;
      max-height: 400px;
    } 



