#newsPage {
	background: #e5741d;
}

.topRow {
	margin-top: 20px;
	color: #ffffff;
}

.bg-primary {
	color: #3f3f4c;
	background: #ffffff;
	margin-top: 25px;
	margin-bottom: 25px;
}
.img-responsive {
	margin-top: 25px;
}
.secondRow {
	padding: 10px;
}