#newsPage {
	background: #e5741d;
	p{
		margin: 0px;
	}
	h2 {
		margin-top: 0px;
	}
	.lead {
		font-size: 20px;
	}
	.impEvents {
		color: #ffffff;
	}
	.img-responsive {
		margin-top: 25px;
	}
	.rnPic {
		padding-left: 0px;
	 	padding-right: 0px;
	 	@media (max-width: 767px) {
	 		padding-left: 10px;
	 		padding-right: 10px;
	 	}
	}
	.panel-default>.panel-heading {
		color: #ffffff;
	  background-color: #3f3f4c;
	  border-color: transparent;
	 }
}










.secondRow {
	color: #3f3f4c;
	padding: 10px;
	@media (max-width: 600px) {
		float: none;
	}
}
