#newsPage {
	background: #e5741d;
	p{
		margin: 0px;
	}
	h2 {
		margin-top: 0px;
	}
	ul{
		padding-left: 0;
	}
	#firstRow{
		margin-top: 70px;
		margin-bottom: 80px;
	}
	#secondRow{
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
	}
	.lead {
		font-size: 20px;
	}
	.impEvents {
		color: #ffffff;
	}
	.img-responsive {
		margin-top: 25px;
	}
	.rnPic {
		padding-left: 0px;
	 	padding-right: 0px;
	 	@media (max-width: 767px) {
	 		padding-left: 10px;
	 		padding-right: 10px;
	 	}
	}
	.panel{
		margin: 10px 5px 40px;
		max-width: 50%;
		min-width: 33%;
	}
	.panel-default>.panel-heading {
		color: #ffffff;
	  background-color: #3f3f4c;
	  border-color: transparent;
	 }
}










.secondRow {
	color: #3f3f4c;
	padding: 10px;
	@media (max-width: 600px) {
		float: none;
	}
}
