.navbar-fixed-top {
  background: white;
  padding-bottom: 5px;
}
header{
    height: 11vh;
    min-height: 90px;
    nav{
        #siteTitle{
            display: block;
            height: 38px;
            max-width: 100%;
            padding-bottom: 2px;
            margin-left:  auto;
            margin-right:  auto;
        }
        .navbar-header{
            .hamButton{
                margin-top: 0;
                margin-bottom: 0;
                padding: 0;
                
                img{
                    height: 50px;
                }
                a:hover{
                    color: white;
                    text-decoration: hidden;
                }
                @media screen and (max-height: 615px){
                    padding-top: 0;
                }
            }
            
            #logoContainer{
                padding-left: 20px;
                #logo{
                    width: 145px;
                    position: absolute;
                    z-index: 3;
                    margin-top: -33px;
                }
                @media screen and (max-width: $medium){
        			padding-left: 20px;
        			#logo{
        			    width: 100px;
        			}
        		}
        		@media screen and (max-width: $small){
        		    padding-left: 4%;
        			#logo{
        			    margin-top: 0;
        			    width: 90px;
        			}
        		}
                
            }
            
        }
        
        .collapse.in{
            z-index: 2;
            position: relative;
            background: #fff;
        }
        .ulMenu{
            // padding-top: 10px;
            padding-left: 200px;
            
            li{
                a{
                    padding: 9px 10px;
                    color: #d05b00; 
                    font-weight: 500;
                }
            }
            @media screen and (max-width: $medium){
    			padding-left: 130px;
    			li{
    			    a{
    			        padding: 9px 6px;
    			        font-size: 13px;
    			    }
    			}
    		}
    		@media screen and (max-width: $small){
    			padding-left: 0;
    			li{
    			    a{
    			        text-align: center;
    			    }
    			}
    		}
        }
        a{
            color: white;
            text-decoration: none;
        }
        a:hover{
            color: white;
            text-decoration: none;
        }
        #memberButtonUl{
            padding-right: 2%;
            
            button{
                padding: 5px 10px;
                background: #005f19;
                color: white;
                border: 2px solid #005f19;
                border-radius: 6px;
                
            }
            @media screen and (max-width: $medium){
    			font-size: 10px;
    			padding-right: 0;
    		}
            @media screen and (max-width: $small){
    			text-align: center;
    			padding-top: 10px;
    		}
        }
        
        
    }
}