// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

// Sizes
$xsmall: 420px;
$small: 767px;
$medium: 991px;
$large: 1199px;
